.App {
  background-color: var(--color-grey-light1);
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1;
}

a {
  text-decoration: none;
  color: var(--color-grey-dark2);
}

img {
  max-width: 100%;
}