.ProductList {
    position: relative;
    z-index: 0;
    width: 100%;
    background-color: #fff;
}

.ProductList .ProductListContainer {
    margin: 6rem auto;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 30px;
}

@media (min-width: 992px) {
    .ProductList .ProductListContainer {
        max-width: 990px;
    }
}