:root {
  --color-grey-white: rgb(255, 255, 255);
  --color-grey-light1: rgb(244, 244, 244);
  --color-grey-light2: rgb(198, 198, 198);
  --color-grey-light3: rgb(178, 178, 178);
  --color-grey-light4: rgb(111, 111, 111);
  --color-grey-dark: rgb(55, 55, 46);
  --color-grey-dark2: rgb(20, 20, 16);
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.container {
  padding: 0 10px;
  margin: 0 auto;
  width: 100%;
  max-width:1070px;
}

@media only screen and (max-width:1023px) and (max-device-width:736px) {
  .container {
    min-width:0;
    max-width:100%
  }
}